{% extends "layout.html" %}

{% block body %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update_contact/{{contact.0}}" method="POST">
            <div class="form-group">
            <ul>
                <li>
                    <label for="name">Nombre del contacto:</label>
                    <input type="text" id="name" name="contact_name" placeholder="Ejemplo: El tuercas"
                        value="{{contact.1}}" class="form-control">
                </li>
                <li>
                    <label for="phone">Número de teléfono:</label>
                    <input type="text" id="phone" name="contact_phone" placeholder="No es obligatorio ponerlo"
                        value="{{contact.2}}" class="form-control">
                </li>
                <li>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="contact_email" placeholder="Es opcional añadirlo"
                        value="{{contact.3}}" class="form-control">
                </li>
                <li>
                    <label for="address">Dirección:</label>
                    <input type="text" id="address" name="contact_address" placeholder="Esto también es opcional"
                        value="{{contact.4}}" class="form-control">
                </li>
                <li>
                    <label for="relationship">Parentesco:</label>
                    <input type="text" id="relationship" name="contact_relationship"
                        placeholder="Tú decides si ponerlo o no" value="{{contact.6}}" class="form-control">
                </li>
                <li>
                    <label for="pending">Pendientes:</label>
                    <textarea id="pending" name="contact_pending" class="form-control">{{contact.5}}</textarea>
                </li>
                <li>
                    <button name="addContactButton" type="submit" class="btn btn-success form-control btn-delete">
                        Guardar
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>


{% endblock %}
